In [1]:
import pandas as pd

In [2]:
%ls

Untitled.ipynb                     tweet_corpus.txt
hand_coded_austin_tweets-3col.csv

In [3]:
df = pd.read_csv('./hand_coded_austin_tweets-3col.csv')

In [5]:
df.head()

   number                                         tweet_text  checkable
0       0  TOMORROW: Dallas Workers Head to TX Capitol to...      False
1       1  Texas House members told to stop secretly reco...       True
2       2  SB 1163 - Relating to establishing and funding...      False
3       3  Did you know that we’re carbon neutral* when i...       True
4       4  Check our this article on the Baylor sexual as...      False

In [12]:
df.drop(columns=['number'], inplace=True)

In [13]:
## Add "index=False" to avoid adding an indext column
df.to_csv('./hand_coded_austin_tweets', index=False)

In [14]:
df2 = pd.read_csv('./hand_coded_austin_tweets')

In [15]:
df2.head()

                                          tweet_text  checkable
0  TOMORROW: Dallas Workers Head to TX Capitol to...      False
1  Texas House members told to stop secretly reco...       True
2  SB 1163 - Relating to establishing and funding...      False
3  Did you know that we’re carbon neutral* when i...       True
4  Check our this article on the Baylor sexual as...      False